.NewPage__form
  = form_with model: @tweet, html: {class: "Form"}, local: true do |f|
    .Form__contents
      .Form__contents-title
        = f.label :title, 'タイトル'
        = f.text_field :title
      .ImageSide__PhotoNumber
        最大５枚までアップロードできます
        %div#image-box
          %div#previews
            - if @tweet.persisted?
              = @tweet.images.each_with_index do |image, i|
                .Image__show
                  = image_tag image.src.url, data: { index: i }, class: "image-file", width: "100", height: '100'
                  .content
                    .div{data: {index: i},class:"js-remove"}
                      削除
          .Image__previews
            = icon('fa', 'camera')
            .Image__previews__text
              クリックしてファイルをアップロード
          = f.fields_for :images do |image|
            %div{id:"data-index#{image.index}", class:"js-file_group"}
              = image.file_field :src, class: 'js-file', data: {index: image.index}, accept: 'image/jpg,image/jpeg,image/png,image/gif'
            - if @tweet.persisted?
              = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          - if @tweet.persisted?
            %div{id:"data-index#{@tweet.images.count}", class:"js-file_group"}
              = file_field_tag :src, class: 'js-file', name: "tweet[images_attributes][#{@tweet.images.count}][src]"
      .Form__cntents-genre
        = f.label :genre, 'ジャンル(複数選択可)'
      .Form__checkbox
        = collection_check_boxes :tweet, :genre_ids, Genre.all, :id, :name do |g|
          = g.label {g.check_box + g.text}
      .Form__contents-evaluation#star
        = f.label :rate, 'おすすめ度'
        %p= f.hidden_field :rate, id: :raty_star

      :javascript
        $('#star').raty({
        size: 36,
        starOff: "#{asset_path('star-off.png')}",
        starOn: "#{asset_path('star-on.png')}",
        starHalf: "#{asset_path('star-half.png')}",
        scoreName: 'tweet[rate]',
        half: true,
        });

      .Form__contents-text
        = f.label :text, '感想'
        = f.text_area :text, class: 'impressions'
      .Form__contents-day
        = f.label :date, '観賞日'
        %p= f.date_field :date
    = f.submit 'SEND', class: 'button'