.NewPage__form
  = form_with model: @tweet, html: {class: "Form"}, local: true do |f|
    .Form__contents
      .Form__contents-title
        = f.label :title, 'タイトル', class: "Form__label"
        %span.Required 必須
        = f.text_field :title
        .error__message
          - if @tweet.errors.include?(:title)
            = @tweet.errors.full_messages_for(:title).first
      .ImageSide
        %label.ImageSide__label
          画像
          %span.Required 必須
        .ImageSide__PhotoNumber
          最大５枚までアップロードできます
          .ImageForm
            .ImageSide__form
              %div#previews
                - if @tweet.persisted?
                  - @tweet.images.each_with_index do |image, s|
                    .show-image
                      = image_tag image.src.url, data: {index: s},class:"image-file",width: '100', height: '100'
                      .content
                        .div{data: {index:s},class:"js-remove"}
                          削除
              .ImageSide__form__icon
                = icon('fa', 'camera')
                .ImageSide__form__icon__text
                  クリックしてファイルをアップロード
              %div#image-box
          = f.fields_for :images do |i|
            %div{id:"ImageData#{i.index}",class:"ImageFile_group"}
              = i.file_field :src, class: "ImageFile", data: {index: i.index},accept: 'image/jpg,image/jpeg,image/png,image/gif'
              - if @tweet.persisted?
                = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden'
          - if @tweet.persisted?
            %div{data: {index:@tweet.images.count},class:"ImageFile_group"}
              = file_field_tag :src,name: "tweet[images_attributes][#{@tweet.images.count}][image]",id:"tweet_images_attributes_#{@tweet.images.count}_image", class: 'ImageFile',accept: 'image/jpg,image/jpeg,image/png,image/gif',data: {index:@tweet.images.count}
          .error__message
            - if @tweet.errors.include?(:images)
              = @tweet.errors.full_messages_for(:images).first
      .Form__contents-genre
        = f.label :genre, 'ジャンル(複数選択可)', class: "Form__label"
        %span.Required 必須
        .Form__checkbox
          = collection_check_boxes :tweet, :genre_ids, Genre.all, :id, :name do |g|
            = g.label {g.check_box + g.text}
        .error__message
          - if @tweet.errors.include?(:genres)
            = @tweet.errors.full_messages_for(:genres).first
      .Form__contents-evaluation#star
        = f.label :rate, 'おすすめ度', class: "Form__label"
        %span.Required 必須
        %p= f.hidden_field :rate, id: :raty_star
      .error__message
        - if @tweet.errors.include?(:rate)
          = @tweet.errors.full_messages_for(:rate).first

      :javascript
        $('#star').raty({
        size: 36,
        starOff: "#{asset_path('star-off.png')}",
        starOn: "#{asset_path('star-on.png')}",
        starHalf: "#{asset_path('star-half.png')}",
        scoreName: 'tweet[rate]',
        half: true,
        });

      .Form__contents-text
        = f.label :text, '感想', class: "Form__label"
        = f.text_area :text, class: 'impressions'
      .Form__contents-day
        = f.label :date, '観賞日', class: "Form__label"
        %p= f.date_field :date
    = f.submit 'SEND', class: 'button'