.NewPage__form
  = form_with model: @tweet, html: {class: "Form"}, local: true do |f|
    .Form__contents
      .Form__contents-title
        = f.label :title, 'タイトル', class: "Form__label"
        %span.Required 必須
        = f.text_field :title
      .Form__cntents-image
        = f.label :image, '画像', class: "Form__label"
        %span.Required 必須
        .ImageSide__PhotoNumber
          最大５枚までアップロードできます
        %div#image-box
          %div#previews
          .Image__previews
            = icon('fa', 'camera')
            .Image__previews__text
              クリックしてファイルをアップロード
          = f.fields_for :images do |image|
            %div{id:"data-index#{image.index}", class:"js-file_group"}
              = image.file_field :src, class: 'js-file', data: {index: image.index}, accept: 'image/jpg,image/jpeg,image/png,image/gif'
      .Form__cntents-genre
        = f.label :genre, 'ジャンル(複数選択可)', class: "Form__label"
        %span.Required 必須
      .Form__checkbox
        = collection_check_boxes :tweet, :genre_ids, Genre.all, :id, :name do |g|
          = g.label {g.check_box + g.text}
      .Form__contents-evaluation#star
        = f.label :rate, 'おすすめ度', class: "Form__label"
        %span.Required 必須
        %p= f.hidden_field :rate, id: :raty_star

      :javascript
        $('#star').raty({
        size: 36,
        starOff: "#{asset_path('star-off.png')}",
        starOn: "#{asset_path('star-on.png')}",
        starHalf: "#{asset_path('star-half.png')}",
        scoreName: 'tweet[rate]',
        half: true,
        });

      .Form__contents-text
        = f.label :text, '感想', class: "Form__label"
        = f.text_area :text, class: 'impressions'
      .Form__contents-day
        = f.label :date, '観賞日', class: "Form__label"
        %p= f.date_field :date
    = f.submit 'SEND', class: 'button'