.Main
  = form_with url: search_tweets_path, method: :get, class: "Search-box", local: true do |f|
    = f.text_field :keyword, class: 'Search-box__input', placeholder: 'タイトルで映画を検索'
    = button_tag type: 'submit', class: "Search-box__btn" do
      = icon('fa', 'search fa-lg')
  .Contents
    .Contents__post-main
      .Contents__post-main-title
        %h2 おすすめ度4以上の作品
      .Post-genre-raty
        - @likes.each do |tweet|
          .Picture-top
            = image_tag tweet.images[0].src.url, class: 'Picture-home'
            = link_to tweet_path(tweet.id), class: 'Information-top' do
              .Posts__name-top
                = tweet.title
              .Information-top-star
                おすすめ度
              .Information_star-raty{id:"star-#{tweet.id}"}

              :javascript
                $('#star-#{tweet.id}').raty({
                  size: 36,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{tweet.rate}"
                });

              .Information__likes-comments-top
                = icon('fas', 'heart fa-lg heart_red')
                = "#{tweet.likes.length}件"
                = "コメント#{tweet.comments.length}件"
    .Contents__post-main
      .Contents__post-main-title
        %h2 いいね数TOP10
      .Post-genre-likes
        - @likes_ranks.each_with_index do |tweet, i|
          .Picture-top
            = image_tag tweet.images[0].src.url, class: 'Picture-home'
            = link_to tweet_path(tweet.id), class: 'Information-top' do
              .Posts__name-top
                = tweet.title
              .Information-top-star
                おすすめ度
              .Information_star-raty{id:"star-likes-#{tweet.id}"}

              :javascript
                $('#star-likes-#{tweet.id}').raty({
                  size: 36,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{tweet.rate}"
                });

              .Information__likes-comments-top
                = icon('fas', 'heart fa-lg heart_red')
                = "#{tweet.likes.length}件"
                = "コメント#{tweet.comments.length}件"
    .Contents__post-main
      %h2 新しい投稿
      = render "genreall"