.wrapper
  = render "side"
  .Main
    = form_with url: search_tweets_path, method: :get, class: "Search-box", local: true do |f|
      = f.text_field :keyword, class: 'Search-box__input', placeholder: 'タイトルで映画を検索'
      = button_tag type: 'submit', class: "Search-box__btn" do
        = icon('fa', 'search fa-lg')
    .Contents
      .Contents__post-main
        %h2 検索結果
        = render "genreall"