.wrapper
  = render "tweets/side"
  .Main
    - if user_signed_in? && current_user.id == @user_id
      .Contents
        %p.userName= "#{@name}さんがいいねした作品"
        .Contents__post-user
          .Post-genre-like
            - current_user.like_tweets.each do |tweet|
              .Picture-top
                = image_tag tweet.images[0].src.url, class: 'Picture-home'
                = link_to tweet_path(tweet.id), class: 'Information-top' do
                  .Posts__name-top
                    = tweet.title
                  .Information-top-star
                    おすすめ度
                  .Information_star-raty{id:"star-like#{tweet.id}"}

                  :javascript
                    $('#star-like#{tweet.id}').raty({
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{tweet.rate}"
                    });

                  .Information__likes-comments-top
                    = icon('fas', 'heart fa-lg heart_red')
                    = "#{tweet.likes.length}件"
                    = "コメント#{tweet.comments.length}件"
    .contents
      %p.userName= "#{@name}さんの投稿一覧"
      .Contents__post-user
        = render "/tweets/genreall"